button {
  position: relative;
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  padding: 1rem 2rem;
  margin: 1rem;
  width: 300px;
  max-width: 100%;
  min-height: 100px;
  font-size: 1.16rem;

  &.active {
    background: var(--bg-success);
    border-color: var(--color-success);
  }

  app-question {
    pointer-events: none;
  }

  .desc {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: 0;
    padding: 0.3rem 0.6rem;
    opacity: 0.6;
    line-height: 1;
  }
}
