<section class="products-input">
  <!-- Title -->
  <header class="products-input_title">
    <h3>Wybór produktów</h3>
    <button
      (click)="onToggleClick()"
      type="button"
      class="products-input_toggle"
    >
      <app-chevron [opened]="showProducts"></app-chevron>
    </button>
  </header>
  <!-- Content -->
  <div *ngIf="showProducts" id="content" class="products-input_content">
    <app-products-input-item
      *ngFor="let product of products; trackBy: trackById"
      [product]="product"
      [isActive]="product.id === _value?.id"
      (click)="onProductClick(product)"
    ></app-products-input-item>
  </div>
</section>
